*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

header nav{
    background-color: #86948F;
    padding: 1rem 2rem;
}

main{
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.questionMarkContainer{
    text-align: center;
}

.quizCardContainer{
    background-color: #B8E893;
    padding: 1.2rem;
}

.questionIndex{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.2rem;
}

.questionOption{
    display: block;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.questionOption:hover{
    background-color: #e2e6eb;
}

input{
    margin-right: 0.5rem;
}

.nextButtonDiv{
    text-align: center;
}

.nextButton{
    border: none;
    color: white;
    background-color: #86948F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 3rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* .opt{
    background-color: red;
} */

.nextButton:hover{
    background-color: rgb(173, 166, 166);
}

/* FINISH BUTTON */
fieldset{
    background-color: #ABBFB8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
    padding: 3rem 0 1rem 0;
    border-radius: 10px;
}

legend{
    
    background-color: #B8E893;
    font-weight: 700;
    padding: 4px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

fieldset p{
    margin-bottom: 3rem;
}
fieldset h3{
    margin-bottom: 3rem;
}

fieldset button{
    background-color: #B8E893;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}